@media only screen and (max-width: 767px) {	
/*.jumbotron .container-fluide*/

/*#defaultNavbar1=Navigation rechts*/
#defaultNavbar1 {
	padding-top:0px;
	background-color: #fff;
	border-color: #fff;	
}

/*.ul*/
.nav.navbar-nav {
	margin-right: 0px;
	
	border:#fff;
	margin-top:-13px;
	text-align:center;	
}

/*Hamburger li, a */
.nav.navbar-nav .active a {
	color: #00F;
	font-size: 15px;
	font-weight: normal;
    background-color: #FFC;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	border-bottom-width: 1px;
	margin-top:10px;
}

/*Hamburger li, a:hover */
.nav.navbar-nav .active a:hover {
	color: #00f;
	font-size: 16px;
	font-weight: bold;
	background-color: #fff;
	
}

/*li*/
.nav.navbar-nav .active {
	margin-left: 0px;
	margin-top: 0px;
	
}

/*main-jumbotron*/

.jumbotron .container-fluide h1 {
	font-size: 27px;
}

.jumbotron .container-fluide p {
	font-size: 16px;
}

/*main-figure*/
.figure {
	margin-top: -69px;
	width: 58%;
	margin-right: auto;
	margin-left: auto;
}

.figure_third {
	margin-left: -111px;
	margin-right:-123px;
}


.figure_third ul {
	font-size: 16px;
	margin-top: 26px;
	float: left;
}

 .figure_third ul li a:hover  {
	font-size: 17px;
}

/*hr*/

hr {
	width: auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	margin-left: 24px;
	margin-right: 60px;
	margin-top: 52%;
}


/*footer*/
footer  {
	font-size: 15px;
	
}
/*footer-1-adresse*/
.section_1  ul  {
	list-style-type:none;
	padding-left: 30px;
	
}

/*footer-2-telefonnummer*/
.section_2 ul  {
	float: left;
	list-style-type: none;
}

.section_2 ul li {
	float: left;
	font-size: 15px;
}
/*footer unterer Balken*/
.section_3 {
	padding-left: 0px;
}
/*Impressum_AGB_Kontakt*/
footer .section_3 .container a {
	font-size: 14px;
	padding-right: 5px;
	padding-left:4px;
}
/*Impressum_AGB_Kontakt*/
footer .section_3 .container a:hover {
	font-size: 14px;
	
}

/*Copyright*/
.section_3 .container span {
	float:right;
	font-size:13px;
}
}

@media only screen and (max-width: 479px) {	
.navbar-header a img {
	padding-left: 10px;
}

/*.ul*/
.nav.navbar-nav {
	margin-top:12px;
	text-align:center;	
}

/*Hamburger li, a */
.nav.navbar-nav .active a {
	color: #00F;
	font-size: 15px;
	
}

/*Hamburger li, a:hover */
.nav.navbar-nav .active a:hover {
	color: #00f;
	font-size: 16px;
	font-weight: bold;
	background-color: #fff;
	
}


/*main-jumbotron*/
.jumbotron .container-fluide h1 {
	font-size: 20px;
}

.jumbotron .container-fluide p {
	font-size: 14px;
}

/*main-figure*/
.figure {
	margin-top: -69px;
	width: 68%;
	
}

.figure_third {
	margin-left: 0px;
	margin-right:-12px;
}


.figure_third ul {
	font-size: 15px;
	margin-top: 13px;
	float: left;
}

.figure_third ul li a:hover  {
	font-size: 16px;
}


/*hr*/
hr {
	width: auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	margin-left: 20px;
	margin-right: 40px;
	margin-top: 85%;
}

/*footer-1-adresse*/
.section_1  ul  {
	font-size: 13px;
	padding-left: 10px;
}

/*footer-2-telefonnummer*/
.section_2 ul li {
	float: left;
	font-size: 13px;
	padding-right:0px;
	padding-left:40px;
}

/*footer unterer Balken*/
.section_3 {
	padding-left:0px;
}

/*Impressum_AGB_Kontakt*/
footer .section_3 .container a {
	font-size: 11px;
	
	padding-right: 2px;
	padding-left:1px;
}
/*Impressum_AGB_Kontakt*/
footer .section_3 .container a:hover {
	font-size: 11px;
}

/*Copyright*/
.section_3 .container span {
	float:right;
	font-size:10px;
	
}
}

@media only screen and (max-width: 319px) {	

/*Logo*/
#wrap header .navbar.navbar-default .container .navbar-header a img {
	background-color: #Fff;
}

/*.ul*/
.nav.navbar-nav {
	margin-right: 0px;
	margin-top:0px;
	text-align:center;	
}




/*Hamburger li, a */
.nav.navbar-nav .active a {
	font-size: 13px;
	text-align:center;
	
}


/*Hamburger li, a:hover */
.nav.navbar-nav .active a:hover {
	text-align: center;
	font-size: 14px;
}






/*jumbtron h1*/
.jumbotron .container-fluide h1 {
	
	font-size: 17px;
	
}

/*jumbtron p*/
.jumbotron .container-fluide p {
	font-size: 10.5px;
	
}

/*main-figure*/
.figure {
	width: 68%;
}

.figure_third {
	margin-left: 0px;
	margin-right:0px;
}


.figure_third ul {
	font-size: 12.5px;
	margin-top: 15px;
	float: none;
}

.figure_third ul li a:hover  {
	font-size: 13px;
}

/*hr*/

hr {
	width: auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	margin-left: 20px;
	margin-right: 40px;
	margin-top:273px;
}



/*footer-1-adresse*/
.section_1  ul  {
	font-size: 11px;
	padding-left: 10px;
	padding-bottom:3px;
	padding-top:3px;
}

/*footer-2-telefonnummer*/
.section_2 ul li {
	font-size: 11px;
	padding-right: 10px;
	padding-left:10px;	
}


/*footer unterer Balken*/
.section_3 {
	padding-left: 0px;
	padding-bottom: 4px;
	padding-top: 4px;
	margin-top: -15px;
}


/*Impressum_AGB_Kontakt*/
footer .section_3 .container a {
	font-size: 8.5px;
	font-weight:normal;
	padding-right: 1px;
	padding-left:1px;
	
}
/*Impressum_AGB_Kontakt*/
footer .section_3 .container a:hover {
	font-size: 8.5px;
}


/*Copyright*/
.section_3 .container span {
	
	float:right;
	font-size:8.5px;
}

}


