.inhalt{
    margin-top: 80px;
}
.profilbild_img{
    border-radius: 10000px;
    margin-bottom: 20px;
}
.articel-metadata{
    margin-top: 10px;
}

.artikelbild {
    margin-top: 80px;
    margin-bottom: 10px;
}

.bildunterschrift{
    margin-bottom: 20px;
}
h1 {
    margin-top: 97px;
}