@media only screen and (max-width: 767px) {	
/*.jumbotron .container-fluide*/

/*#defaultNavbar1=Navigation rechts*/
#defaultNavbar1 {
	padding-top:0px;
	background-color: #fff;
	border-color: #fff;	
}

/*.ul*/
.nav.navbar-nav {
	margin-right: 0px;
	
	border:#fff;
	margin-top:-13px;
	text-align:center;	
}

/*Hamburger li, a */
.nav.navbar-nav .active a {
	color: #00F;
	font-size: 15px;
	font-weight: normal;
    background-color: #FFC;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	border-bottom-width: 1px;
	margin-top:10px;
}

/*Hamburger li, a:hover */
.nav.navbar-nav .active a:hover {
	color: #00f;
	font-size: 16px;
	font-weight: bold;
	background-color: #fff;
	
}

/*li*/
.nav.navbar-nav .active {
	margin-left: 0px;
	margin-top: 0px;
	
}

/*main-jumbotron*/
.jumbotron .container-fluide h1 {
	font-size: 22px;
}

.jumbotron .container-fluide p {
	font-size: 14px;
}

/*jumbtron Hintergrund*/
.jumbotron .container-fluide {
	margin-bottom:-36px;
}

/*formular ganze Breite des Formulars und Hintergrund d.h weiss plus blau*/
.formular .container-fluide .row {
	width: 89%;
	margin-left: 70px;
	margin-bottom:10px;
} 
/*Kontaktieren _Sie oberer Titel h1 und p*/
.formular .container-fluide .starter-template  { 								
	margin-bottom: 30px;
}

/*Kontaktieren_Sie __h1*/
.formular .container-fluide .starter-template h1 {
	font-size: 19px;
	margin-left: 70px;
	
}

/*Kontaktieren_Sie_p*/
.formular .container-fluide .starter-template .lead {
	font-size: 15px;
	margin-left: 70px;
}


/*formular Ausgangssprache Zielsprache_Dienstleistungen*/
#form1 {
	font-size: 15px;
	padding-left:18px;
}

/*Formular_Vorname_Nachname_und Rest*/
 .form-group label {
	
	font-size: 15px;
	
}



 /*formular Bitte wählen*/
#form1 .form-group .form-control {
	font-size: 14px;
}

 /*formular Durchsuchen*/
 .form-group #input-1a {
	padding-left: 100px;
	margin-top: -30px;
	font-size: 14px;
}


/*formular_unten Senden Reset*/
 #form1 .form-group .btn.btn.primary {
	margin-right: 58px;
	margin-bottom:22px;
	margin-top: 10px;
 }
 
 .senden {
	
	margin-bottom: 33px;
	margin-top: 15px;
	border-radius: 14px;
	border: 2px solid #FFF;
	font-size:15px;	
	
}

.loeschen {
	margin-top: 15px;
	margin-bottom: 33px;
	border-radius: 14px;
	border: 2px solid #FFF;
	font-size:15px;	
}
 
 
 
 
 
 
 
/*hr*/

hr {
	width: auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	margin-left: 14px;
	margin-right: 40px;
	margin-top: 8px;
}


/*footer*/
footer  {
	font-size: 15px;
	
}
/*footer-1-adresse*/
.section_1  ul  {
	list-style-type:none;
	padding-left: 30px;
	
}

/*footer-2-telefonnummer*/
.section_2 ul  {
	float: left;
	list-style-type: none;
}

.section_2 ul li {
	float: left;
	font-size: 15px;
}
/*footer unterer Balken*/
.section_3 {
	padding-left: 0px;
}
/*Impressum_AGB_Kontakt*/
footer .section_3 .container a {
	font-size: 14px;
	padding-right: 5px;
	padding-left:4px;
}
/*Impressum_AGB_Kontakt*/
footer .section_3 .container a:hover {
	font-size: 14px;
	
}

/*Copyright*/
.section_3 .container span {
	float:right;
	font-size:13px;
}
}

@media only screen and (max-width: 479px) {	
.navbar-header a img {
	padding-left: 10px;
}

/*.ul*/
.nav.navbar-nav {
	margin-top:12px;
	text-align:center;	
}

/*Hamburger li, a */
.nav.navbar-nav .active a {
	color: #00F;
	font-size: 15px;
	
}

/*Hamburger li, a:hover */
.nav.navbar-nav .active a:hover {
	color: #00f;
	font-size: 16px;
	font-weight: bold;
	background-color: #fff;
	
}

/*main-formular Breite des Formulars und Hintergrund*/
.formular .container-fluide .row {
	width: 100%;
	margin-left: 32px;
	margin-bottom:6px;
} 

/*Kontaktieren _Sie oberer Titel h1 und p*/
.formular .container-fluide .starter-template  { 								
	
}



/*Kontaktieren_Sie_h1*/
.formular .container-fluide .starter-template h1 {
	font-size: 18px;
	margin-left: 36px;
	
}

/*Kontaktieren_Sie_p*/
.formular .container-fluide .starter-template .lead {
	font-size: 14px;
	margin-left: 36px;
}


/*formular Ausgangssprache Zielsprache_Dienstleistungen*/
#form1 {
	font-size: 14px;
	padding-left:15px;
}

  /*formular Bitte wählen*/
#form1 .form-group .form-control {
	font-size: 14px;
}
/*Formular_Vorname_Nachname_und Rest*/
 .form-group label {
	font-size: 14px;
}
 /*formular Durchsuchen*/
 .form-group #input-1a {
	padding-left: 90px;
	margin-top: -30px;
	font-size: 14px;
	
	
}

/*formular_unten Senden Reset*/
 #form1 .form-group .btn.btn.primary {
	
	font-size: 14px;
	
 }
 
 .senden {
	border-radius: 14px;
	border: 2px solid #FFF;
	font-size:14px;	
	
}

.loeschen {
	border-radius: 14px;
	border: 2px solid #FFF;
	font-size:14px;	
}
 


/*hr*/
hr {
	width: auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	margin-left: 8px;
	margin-right: 15px;
	margin-top: 1px;
}

/*footer-1-adresse*/
.section_1  ul  {
	font-size: 13px;
	padding-left: 10px;
}

/*footer-2-telefonnummer*/
.section_2 ul li {
	float: left;
	font-size: 13px;
	padding-right:0px;
	padding-left:40px;
}

/*footer unterer Balken*/
.section_3 {
	padding-left:0px;
}

/*Impressum_AGB_Kontakt*/
footer .section_3 .container a {
	font-size: 11px;
	
	padding-right: 2px;
	padding-left:1px;
}
/*Impressum_AGB_Kontakt*/
footer .section_3 .container a:hover {
	font-size: 11px;
}

/*Copyright*/
.section_3 .container span {
	float:right;
	font-size:10px;
	
}
}

@media only screen and (max-width: 319px) {	

/*Logo*/
#wrap header .navbar.navbar-default .container .navbar-header a img {
	background-color: #Fff;
}

/*.ul*/
.nav.navbar-nav {
	margin-right: 0px;
	margin-top:0px;
	text-align:center;	
}




/*Hamburger li, a */
.nav.navbar-nav .active a {
	font-size: 13px;
	text-align:center;
	
}


/*Hamburger li, a:hover */
.nav.navbar-nav .active a:hover {
	text-align: center;
	font-size: 14px;
}
/*jumbtron h1*/
.jumbotron .container-fluide h1 {
	
	font-size: 18.5px;
	
}

/*jumbtron p*/
.jumbotron .container-fluide p {
	font-size: 12px;
	
}
/*main-formular Breite des Formulars und Hintergrund*/
.formular .container-fluide .row {
	width: 110%;
	margin-left: 15px;
	margin-bottom:4px;
	
} 

//*Kontaktieren_Sie __h1*/
.formular .container-fluide .starter-template h1 {
	font-size: 16px;
	margin-left: 15px;
	
}

/*Kontaktieren_Sie __p*/
.formular .container-fluide .starter-template .lead {
	font-size: 12px;
	margin-left: 15px;
	margin-bottom: 9px;
}


/*formular Ausgangssprache Zielsprache_Dienstleistungen*/
#form1 {
	font-size: 11px;
	padding-left:13px;
}


 /*formular Bitte wählen*/
#form1 .form-group .form-control {
	color: #000;
	font-size: 11px;
}
/*Formular_Vorname_Nachname_und Rest*/
 .form-group label {
	font-size: 11px;
}

 /*formular Bitte wählen*/
#form1 .form-group .form-control {
	
	font-size: 11px;
	
}

 /*formular Durchsuchen*/
 .form-group #input-1a {
	padding-left: 70px;
	margin-top: -25px;
	font-size: 11px;
	
	
}



/*formular_unten Senden Reset*/
 #form1 .form-group .btn.btn.primary {
	margin-right:19px;
	margin-bottom: 18px;
	font-size: 11px;
	margin-top: 6px;
 }
 
 .senden {
	margin-bottom: 23px;
	margin-top: 15px;
	border-radius: 13px;
	border: 1px solid #FFF;
	font-size:11px;	
	
}

.loeschen {
	margin-bottom: 23px;
	margin-top: 15px;
	border-radius: 13px;
	border: 1px solid #FFF;
	font-size:11px;	
}


/*hr*/

hr {
	width: auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	margin-left: 8px;
	margin-right: 15px;
	margin-top:1px;
}



/*footer-1-adresse*/
.section_1  ul  {
	font-size: 11px;
	padding-left: 10px;
	padding-bottom:3px;
	padding-top:3px;
}

/*footer-2-telefonnummer*/
.section_2 ul li {
	font-size: 11px;
	padding-right: 10px;
	padding-left:10px;	
}


/*footer unterer Balken*/
.section_3 {
	padding-left: 0px;
	padding-bottom: 4px;
	padding-top: 4px;
	margin-top: -15px;
}


/*Impressum_AGB_Kontakt*/
footer .section_3 .container a {
	font-size: 8.5px;
	font-weight:normal;
	padding-right: 1px;
	padding-left:1px;
	
}
/*Impressum_AGB_Kontakt*/
footer .section_3 .container a:hover {
	font-size: 8.5px;
}


/*Copyright*/
.section_3 .container span {
	
	float:right;
	font-size:8.5px;
}

}


