@media only screen and (max-width: 767px) {	
/*.jumbotron .container-fluide*/

/*#defaultNavbar1=Navigation rechts*/
#defaultNavbar1 {
	padding-top:0px;
	background-color: #fff;
	border-color: #fff;	
}

/*.ul*/
.nav.navbar-nav {
	margin-right: 0px;
	
	border:#fff;
	margin-top:-13px;
	text-align:center;	
}

/*Hamburger li, a */
.nav.navbar-nav .active a {
	color: #00F;
	font-size: 15px;
	font-weight: normal;
    background-color: #FFC;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	border-bottom-width: 1px;
	margin-top:10px;
}

/*Hamburger li, a:hover */
.nav.navbar-nav .active a:hover {
	color: #00f;
	font-size: 16px;
	font-weight: bold;
	background-color: #fff;
	
}

/*li*/
.nav.navbar-nav .active {
	margin-left: 0px;
	margin-top: 0px;
	
}

/*main-jumbotron*/
.jumbotron .container-fluide h1 {
	font-size: 27px;
}

.jumbotron .container-fluide p {
	font-size: 16px;
}

/*main-article*/
/*main-row_a_und_b*/
#wrap main .row {
	
	width: 100%;
	height: auto;
	margin-left:-9px;
}
	
	
.article_thirst {
	height: 86px;
	margin-left: 0px;
	
}

.article_thirst h1{
	font-size: 20px;
}

.article_thirst p {
	font-size: 15px;
}

/*main-article_seconde*/
.article_seconde {
	height: 106px;
	margin-left: 0px;
	margin-top:4px;
}


.article_seconde h1{
	font-size: 20px;
	
}

.article_seconde p {
	font-size: 15px;
}


/*main-article_third*/
.article_third {
	height: 76px;
	margin-left: 0px;
	margin-top:4px;
}


.article_third h1{
	font-size: 20px;
}


.article_third p {
	font-size: 15px;
}

/*main-article*/

/*main-row_b*/
#wrap main .row {
	width: 100%;
}
	
/*main-article_thirst_b*/
.article_thirst_b {
	height: 115px;
	margin-left: 0px;
}

.article_thirst_b h3{
	font-size: 17px;
}

.article_thirst_b p {
	font-size: 15px;
}

/*main-article_seconde_b*/
.article_seconde_b {
	height: 115px;
	margin-left: 0px;
	margin-top:4px;
}


.article_seconde_b h3{
	font-size: 17px;
	
}

.article_seconde_b p {
	font-size: 15px;
}


/*main-article_third_b*/
.article_third_b {
	height: 95px;
	margin-left: 0px;
	margin-top: 4px;
}


.article_third_b h3{
	font-size: 17px;
}


.article_third_b p {
	font-size: 15px;
}
/*hr*/

hr {
	width: auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	margin-left: 8px;
	margin-right: 15px;
	margin-top: 25px;
}


/*footer*/
footer  {
	font-size: 15px;
	
}
/*footer-1-adresse*/
.section_1  ul  {
	list-style-type:none;
	padding-left: 30px;
	
}

/*footer-2-telefonnummer*/
.section_2 ul  {
	float: left;
	list-style-type: none;
}

.section_2 ul li {
	float: left;
	font-size: 15px;
}
/*footer unterer Balken*/
.section_3 {
	padding-left: 0px;
}
/*Impressum_AGB_Kontakt*/
footer .section_3 .container a {
	font-size: 14px;
	padding-right: 5px;
	padding-left:4px;
}
/*Impressum_AGB_Kontakt*/
footer .section_3 .container a:hover {
	font-size: 14px;
	
}

/*Copyright*/
.section_3 .container span {
	float:right;
	font-size:13px;
}
}

@media only screen and (max-width: 479px) {	
.navbar-header a img {
	padding-left: 10px;
}

/*.ul*/
.nav.navbar-nav {
	margin-top:12px;
	text-align:center;	
}

/*Hamburger li, a */
.nav.navbar-nav .active a {
	color: #00F;
	font-size: 15px;
	
}

/*Hamburger li, a:hover */
.nav.navbar-nav .active a:hover {
	color: #00f;
	font-size: 16px;
	font-weight: bold;
	background-color: #fff;
	
}

/*main-jumbotron*/
.jumbotron .container-fluide h1 {
	font-size: 20px;
}

.jumbotron .container-fluide p {
	font-size: 14px;
}


/*main-row_a*/
/*main-article_thirst*/
.article_thirst {
	height: 119px;
}

.article_thirst h1 {
	font-size: 17px;
}


.article_thirst p {
	font-size: 15px;
}

/*main-article_seconde*/
.article_seconde {
	height: 129px;
	
}

.article_seconde h1 {
	font-size: 17px;
}


.article_seconde p {
	font-size: 15px;
}


/*main-article_third*/
.article_third {
	height: 101px;
}

.article_third h1 {
	font-size: 17px;
}


.article_third p {
	font-size: 15px;
}


/*main-row_b*/
/*main-article_thirst_b*/
.article_thirst_b {
	height: 130px;
}

.article_thirst_b h3 {
	font-size: 16px;
}


.article_thirst_b p {
	font-size: 15px;
}

/*main-article_seconde_b*/
.article_seconde_b {
	height: 130px;
	
}

.article_seconde_b h3 {
	font-size: 16px;
}


.article_seconde_b p {
	font-size: 15px;
}


/*main-article_third_b*/
.article_third_b {
	height: 109px;
}

.article_third_b h3 {
	font-size: 16px;
}


.article_third_b p {
	font-size: 15px;
}


/*hr*/
hr {
	width: auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	margin-left: 8px;
	margin-right: 15px;
	margin-top: 25px;
}

/*footer-1-adresse*/
.section_1  ul  {
	font-size: 13px;
	padding-left: 10px;
}

/*footer-2-telefonnummer*/
.section_2 ul li {
	float: left;
	font-size: 13px;
	padding-right:0px;
	padding-left:40px;
}

/*footer unterer Balken*/
.section_3 {
	padding-left:0px;
}

/*Impressum_AGB_Kontakt*/
footer .section_3 .container a {
	font-size: 11px;
	
	padding-right: 2px;
	padding-left:1px;
}
/*Impressum_AGB_Kontakt*/
footer .section_3 .container a:hover {
	font-size: 11px;
}

/*Copyright*/
.section_3 .container span {
	float:right;
	font-size:10px;
	
}
}

@media only screen and (max-width: 319px) {	

/*Logo*/
#wrap header .navbar.navbar-default .container .navbar-header a img {
	background-color: #Fff;
}

/*.ul*/
.nav.navbar-nav {
	margin-right: 0px;
	margin-top:0px;
	text-align:center;	
}




/*Hamburger li, a */
.nav.navbar-nav .active a {
	font-size: 13px;
	text-align:center;
	
}


/*Hamburger li, a:hover */
.nav.navbar-nav .active a:hover {
	text-align: center;
	font-size: 14px;
}
	
/*jumbtron h1*/
.jumbotron .container-fluide h1 {
	font-size: 18px;
}

/*jumbtron p*/
.jumbotron .container-fluide p {
	font-size: 12px;
}
/*main row a*/

/*main-article_thirst*/

.article_thirst {
	height: 162px;
}

.article_thirst h1{
	font-size: 17px;
}


.article_thirst p {
	font-size: 14px;
}

/*main-article_seconde*/
.article_seconde {
	height: 174px;
}


.article_seconde h1 {
	font-size: 17px;
}


.article_seconde p {
	font-size: 14px;
}


/*main-article_third*/
.article_third {
	height: 124px;
}

.article_third h1 {
	font-size: 17px;
}

.article_third p {
	font-size: 14px;
}



/*main row b*/

/*main-article_thirst_b*/

.article_thirst_b {
	height: 145px;
}

.article_thirst_b h3{
	font-size: 16px;
}


.article_thirst_b p {
	font-size: 14px;
}

/*main-article_seconde_b*/
.article_seconde_b {
	height: 170px;
}


.article_seconde_b h3 {
	font-size: 16px;
}


.article_seconde_b p {
	font-size: 14px;
}


/*main-article_third_b*/
.article_third_b {
	height: 120px;
}

.article_third_b h3 {
	font-size: 16px;
}

.article_third_b p {
	font-size: 14px;
}

/*hr*/

hr {
	width: auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	margin-left: 9px;
	margin-right: 9px;
	margin-top:25px;
}



/*footer-1-adresse*/
.section_1  ul  {
	font-size: 11px;
	padding-left: 10px;
	padding-bottom:3px;
	padding-top:3px;
}

/*footer-2-telefonnummer*/
.section_2 ul li {
	font-size: 11px;
	padding-right: 10px;
	padding-left:10px;	
}


/*footer unterer Balken*/
.section_3 {
	padding-left: 0px;
	padding-bottom: 4px;
	padding-top: 4px;
	margin-top: -15px;
}


/*Impressum_AGB_Kontakt*/
footer .section_3 .container a {
	font-size: 8.5px;
	font-weight:normal;
	padding-right: 1px;
	padding-left:1px;
	
}
/*Impressum_AGB_Kontakt*/
footer .section_3 .container a:hover {
	font-size: 8.5px;
}


/*Copyright*/
.section_3 .container span {
	
	float:right;
	font-size:8.5px;
}

}


