@charset "utf-8";
 .navbar-header a img {
	background-color: #fff;
}
 
.text {
	padding-top: 0px;
}
.text h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #333;
	padding-top: 36px;
	padding-left: 130px;
	padding-bottom: 46px;
	text-align: center;
}
 
 .text p {
	color: #00F;
	font-size: 19px;
	text-align: center;
	font-weight: bold;
	
}
.text p a {
	color: #00F;
	font-size: 19px;
	text-align: center;
	
}
 
 
body {
	background-color: #FF0;
}
